@import 'globals.less';

@addon: 'volto-slate';
@addontype: 'editor';
@addonelement: 'slate';

.loadAddonVariables();

& {
  .slate-inline-toolbar {
    position: absolute;

    /* should be above admin panes (100), and below the Link modal form (1000) */
    z-index: 500;

    top: -10000px;
    left: -10000px;

    overflow: auto;
    max-width: 100vw;
    background-color: #fff;
    border-radius: 0.1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);
    opacity: 0;
    transition: opacity 0.5s;
  }

  .toolbar-wrapper.active {
    margin-bottom: 0.6em;
  }

  .slate-editor p {
    /* In editor the <p> are wrapped in weird markup */
    margin-bottom: 0 !important;
  }

  .ui.menu.slate-toolbar {
    min-height: 2.4em;

    .expando {
      flex-grow: 1;
      background-color: #f9f9f9;
    }

    .toolbar-separator {
      width: 2px;
      border-right: 1px solid #e7e7e7;
      background-color: #ccc;
      line-height: 3em;
    }

    .ui.buttons {
      width: 100%;
    }

    .ui.button:not(.icon) > .icon:not(.button):not(.dropdown) {
      // TODO: is it possible to not use !important here and override button.less?
      margin: auto auto auto auto !important;
    }

    .ui.button:last-child {
      // TODO: is it possible to not use !important here and override button.less?
      margin-right: 0 !important;
    }

    .ui.compact.icon.button {
      flex-grow: 0;
      padding: 0.2em;
      background-color: #f9f9f9;
    }
  }
}

.loadAddonOverrides();
